
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr auto;
  justify-content: center;
  grid-gap: 25px;
  
}
.AppL {
  background-color: #a8a9a9;
  box-shadow: 0 4px 8px 0 rgba(41, 36, 36, 0.445), 0 6px 20px 0 rgba(26, 25, 24, 0.692);
  border-radius: 10px;
  width: 500px;
  grid-column: 2/3;
  align-content: center;
}
.addBooks {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  padding-top: 3rem;
  padding-left: 2rem;
}
.clickable {
  padding-top: 2rem;
  padding-left: 2rem;
}
.rightPanel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.AppR {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  background-color: #a8a9a9;
  box-shadow: 0 4px 8px 0 rgba(41, 36, 36, 0.445), 0 6px 20px 0 rgba(26, 25, 24, 0.692);
  grid-column: 3/4;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}
.askForDetails {
  justify-self: center;
  text-align: center;
  padding-left: 1rem;
  padding-top: 2rem;
  color: #252729;
}
.readCounter {
  padding-top: 10px;
  display: inline-flex;
  justify-content: space-between;
}
.zeroing{
  padding: 5px;
  padding-right: 10px;
}
.countAmount {
  padding: 5px;
  color: brown;
}
.addingToCount {
  padding: 5px;
  padding-left: 10px;
}
.coverPic {
  height: 20rem;
  padding: 10px;
  justify-self: center;
}
.books {
  align-self: flex-start;
  color: #161d24;
  padding: 5px;
}
.authors {
  
  align-self: center;
  color: #253d55;
  padding: 5px;
}
.genres {
  
  align-self: center;
  color: #4f7397;
  padding: 5px;
}
.Heading {
  padding-top: 50px;
  color: #bebebf;
  height: 150px;
  grid-column: 2/3;
}
h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

  
  




  
  






  



    


  
  

























  
  
  
  
  
