
.container {
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px;
  justify-content: space-around;
  align-content: center;
  justify-content: center;
  
}

.AppL {
  background-color: rgb(219, 195, 158);
  box-shadow: 0 4px 8px 0 rgba(241, 74, 74, 0.445), 0 6px 20px 0 rgba(255, 231, 16, 0.692);
  grid-column: 2;
  grid-row: 2;
}

.AppR {
  background-color: rgb(219, 195, 158);
  box-shadow: 0 4px 8px 0 rgba(241, 74, 74, 0.445), 0 6px 20px 0 rgba(255, 231, 16, 0.692);
  grid-column: 3;
  grid-row: 2;
  
  padding-top: 75px;
  padding-left: 50px;
}

.coverPic {
  height: 300px;
  box-shadow: 0px 0px 0px 0px rgba(245, 218, 131, 0.445), 2px 2px 2px 0px rgba(14, 14, 13, 0.692);
  ;
}

.books {
  color: rgb(116, 89, 40);
}

.authors {
  color: brown;
}

.genres {
  color: rgb(146, 89, 3);
}

.notices {
  color:rgba(248, 239, 158, 0.075)
}

.Heading {
  color: rgb(31, 28, 25);
  display: inline-block;
  padding-top: 200px;
  text-align: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1;
}

.bookPanel {
  text-align: center;
  justify-self: center;
  align-items: center;
  
}





